@charset "utf-8";
/* CSS Document */
body{
	background-attachment:scroll;
	margin:0;
	padding:0;
	color:#000;
	background-color:#99FFFF;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}

#container{
	width: 776px;
	background-color: #FFF;
	margin: 0 auto; 
	overflow:hidden;
}

#header{
	margin:0 auto;
	padding:0 25px 10px 25px;
	width: 710px;
	height: 305px;
}

#header h1{
	margin:0;
	padding:200px 0 0 40px;
	letter-spacing: -2px;
	font-size: 40px;
	font: 楷体;
	color: #006;
}

#page{
	margin:0 auto;
	width: 710px;
	padding-bottom:0 25px;
}

#content {
	float: left;
	width: 460px;
	padding:5px 0 0 5px;
}
.post{
	width:420px;
	padding:20px 0 0 20px;
}

.post h1, .post h2, .post h3{
}

.post .title{
	padding:0 0 5px 0;
}

.post .title span{
	padding-right:30px;
	
}

#sidebar{
	text-decoration:none;
	float:left;
	width:240px;
	padding:5px 5px 0 0;
}

.box{
	text-decoration:none;
	width:239px;
	padding-left: 1px;
}

.box .title{
	text-decoration:none;
	height:33px;
	margin:0;
	padding:10px 0 0 20px;
	font-size:18px;
}

.box ul{
	text-decoration:none;
	margin:20px;
	padding:0;
	list-style:none;
}

.box li{
	text-decoration:none;
	padding:5px 0;
}

.box li.first{
	text-decoration:none;
	background:none;
}

.box h3{
	text-decoration:none;
	margin:0;
	font-size:85%;
	font-weight:bold;
	color:#8B985F;
}

.box p{
	text-decoration:none;
	margin:0;
	line-height:normal;
}

.box a{
	text-decoration:none;
	padding-left:10px;
}
#legal{
	float:left;
}
#footer {
	padding:0 25px 25px 25px;
	text-align:center;
	height:45px;
	margin:0 auto;
}
#footer p{
	margin:0;
	padding:14px 20px;
	line-height:normal;
	font-size:77%;
	color:#9FF;
}
#footer a {
	color:#999;
}
#footer a:hover{
	text-decoration:underline;
	
}
